body {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    margin: 0;
    background-color: #20262E;
    color: #fff;
}


header {
    font-family: 'Shantell Sans', cursive;
    font-size: 2.5em;
    margin-top: 3em;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    min-height: 9em;
    text-align: center;
    justify-content: center;
}

header img {
    width: 3em;
}

h1 {
    text-align: center;
    color: #FF7B54;
    margin-top: -0.1em;
}

.app{
    margin: 0 10%;
}

*::selection{
    background-color: #FF7B54;
}

textarea {
    font-family: 'Roboto', sans-serif;
    font-size: 1.5em;
    padding: 2%;
    margin-top: 0.5em;
    display: flex;
    resize: none;
    width: 100%;
    min-height: 15em;
    box-sizing: border-box;
    background-color: #20262e12;
    color: #fff;
    margin-bottom: 1em;
    border: solid 4px #FF7B54;
    border-radius: 20px;
    outline: none;
}

textarea ::placeholder {
    color: #ff1212 !important;
}

.defil {
    font-family: 'Roboto', sans-serif;
    background-color: #FF7B54;
    color: #20262E;
    margin-right: 0.5em;
    border: solid 4px #FF7B54;
    border-radius: 20px;
    font-weight: bold;
    cursor: pointer;
    outline: none;
    font-size: 1em;

}

.defil::selection{
    background-color: #FF7B54;
}

.divButton {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.btnDiv {
    display: flex;
    height: 5em;
    text-align: center;
    flex-grow: 1;
    letter-spacing: 2px;
    margin-bottom: 3em;
}

option {
    background-color: #FF7B54;
    color: #20262E;
    letter-spacing: 2px;
    font-weight: bold;
}

.btn {
    font-family: 'Roboto', sans-serif;
    border-radius: 20px;
    margin-left: 0.5em;
    display: block;
    text-align: center;
    cursor: pointer;
    outline: none;
    overflow: hidden;
    position: relative;
    color: #fff;
    font-size: 1em;
    font-weight: 700;
    background-color: #22222200;
    border: solid 4px #FF7B54;
    outline: none;
}

.btn span {
  position: relative; 
  z-index: 1;
}

.btn:hover{
    color: #20262E;
}

.btn:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 200em;
  width: 300em;
  background: #FF7B54;
  -webkit-transition: all .5s ease-in-out;
  transition: all 1s ease-in-out;
  -webkit-transform: translateX(-98%) translateY(-25%) rotate(45deg);
  transform: translateX(-98%) translateY(-25%) rotate(45deg);
}

.btn:hover:after {
  -webkit-transform: translateX(-9%) translateY(-25%) rotate(45deg);
  transform: translateX(-9%) translateY(-25%) rotate(45deg);
}

.trad {
    font-family: 'Roboto', sans-serif;
    font-size: 1.5em;
}